/*Author Styles*/
*:active {
    border: none;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	width: 100%;
	margin: auto;
}
#page-content #container {
	margin-bottom: 90px;
}
header {
	background-color: #3a3a3a;
	color: #eee;
	height: 70px;
	line-height: 100px;
}
header h1 {
	font-size: 30px;
	line-height: 70px;
}
body #slide-nav {
	font-size: 24px;
}
body .navbar-nav>li {
    float: none;
}
body .navbar-header {
    float: none;
}

.textCenter{ text-align: center; }
#presets { padding: 0px; }
.editorImg {
	display: inline-block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.tempSlider {background-color: #4c4c4c; text-align: center; width: 100%;}
.tempSlider img { width: 60%;}



.editor_circ_bot {
	width: 15%;
	padding: 2% 1%;
}



/*-------
PRESETS PAGE
--------*/
.imgTemp {
	display: inline-block;
	width: 45%;
	min-height: 300px;
	border: solid 2px #ccc;
	background-color: #f7f7f7;
}

#mainBody #library {
	text-align: center;
	padding: 20px 0px;
}
#mainBody #library img{
	padding: 5px 3px;
}


/*-------
FOOTER
--------*/
#foot {
	background-color: #3a3a3a;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}
#foot #camIcon {
	padding: 25px 0px;
	width: 100%;
}
#foot button {
    background-color: transparent;
    border: none;
}







/*-----------
NAVIVAGTION
------------*/
body .nav>li>a {
	padding: 25px;
}
/* adjust logo icon */
body .navbar-brand {
	float: right;
	right: 0px;
	height: 50px;
	padding: 20px 20px;
	font-size: 18px;
}
body .navbar-brand img {
	width: 80%;
}


/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
.no-margin-top {
    margin-top: 0px!important;
}

#page-content.slide-active {
    padding-top: 0;
    margin-top: 0px!important
}

#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
#slide-nav .navbar-toggle > .icon-bar {
    width: 150%;
    display: block;
    height: 5px;
    margin: 7px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: #b20000;
}
.navbar-header {
    position: relative
}

#container #page-content {
    position: relative;
    padding-top: 0px;
    left: 0;
}
#slide-nav .container {
    margin: 0;
    padding: 0!important;
}
#slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
}
#slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: 0px;
    z-index: 1000;
}
#slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: 0px;
    margin: 0;
    height: 100%;
}
#slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
}
#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
}
#slide-nav {
    border-top: 0
}
#slide-nav.navbar-inverse #slidemenu {
    background: #333
}
/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
#slide-nav #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    left: -80%;
    background: #eee;
}
#slide-nav.navbar-inverse #navbar-height-col {
    background: #333;
    z-index: 1;
    border: 0;
}

@media (min-width:768px) { 
	#page-content {
	    left: 0!important;
	   /* padding-top: 50px;*/
	}
	.navbar-header {
/*	    left: 0!important;
*/	    width: 100%;
	}
	body .navbar-toggle {
		display: inline-block;
	}

}

@media (max-width:767px) { 
	body .navbar-brand {
		float: right;
		height: 50px;
		padding: 20px 0px;
		font-size: 18px;
		line-height: 20px;
	}
	#container #page-content {
	    position: relative;
	    padding-top: 0px;
	    left: 0;
	}
	#slide-nav .container {
	    margin: 0;
	    padding: 0!important;
	}
	#slide-nav .navbar-header {
	    margin: 0 auto;
	    padding: 0 15px;
	}
	#slide-nav .navbar.slide-active {
	    position: absolute;
	    width: 80%;
	    top: 0px;
	    z-index: 1000;
	}
	#slide-nav #slidemenu {
	    background: #f7f7f7;
	    left: -100%;
	    width: 80%;
	    min-width: 0;
	    position: absolute;
	    padding-left: 0;
	    z-index: 2;
	    top: 0px;
	    margin: 0;
	    height: 100%;
	}
	#slide-nav #slidemenu .navbar-nav {
	    min-width: 0;
	    width: 100%;
	    margin: 0;
	}
	#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
	    min-width: 0;
	    width: 80%;
	    white-space: normal;
	}
	#slide-nav {
	    border-top: 0
	}
	#slide-nav.navbar-inverse #slidemenu {
	    background: #333
	}
	/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
	#slide-nav #navbar-height-col {
	    position: fixed;
	    top: 0;
	    height: 100%;
	    width: 80%;
	    left: -80%;
	    background: #eee;
	}
	#slide-nav.navbar-inverse #navbar-height-col {
	    background: #333;
	    z-index: 1;
	    border: 0;
	}
}
@media (min-width:768px) { 
	/*#page-content {
	    left: 0!important;
	}*/

}
