<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "acostacreations.com"
		versionCode="10"
		version   = "1.0">
		<name>ACOSTA</name>
		<description> 
			A simple overlay photo edit application.
		</description>
		<author href="acostacreations.com" email="acostacreations92@gmail.com">
			Stephanie Acosta
		</author>
		<content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="Orientation" value="portrait" />
		<preference name="phonegap-version" value="3.6.3" />
		<gap:platform name="android" />
		<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
		
	</widget>