<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "acostacreations.com"
		versionCode="10"
		version   = "1.0">
		<name>OVRLAY EDIT</name>
		<description> 
			A simple overlay photo edit application.
		</description>
		<author href="acostacreations.com" email="acostacreations92@gmail.com">
			Stephanie Acosta
		</author>
		<content src="index.html" />

		<gap:platform name="ios" />
		<gap:platform name="android" />
		
		<preference name="phonegap-version" value="3.6.3" />
        <preference name="android-installLocation" value="auto" />
        <preference name="fullscreen" value="true" />
        <preference name="exit-on-suspend" value="false" />
        <preference name="orientation" value="portrait" />
		
		
		<feature name="http://api.phonegap.com/1.0/camera"/>
		<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
		
		<platform name="android">
            <icon src="res/icon/android/36ldpi.png" gap:density="ldpi" />
            <icon src="res/icon/android/48mdpi.png" gap:density="mdpi" />
            <icon src="res/icon/android/72hdpi.png" gap:density="hdpi" />
            <icon src="res/icon/android/96xhdpi.png" gap:density="xhdpi" />
            <icon src="res/icon/android/144xxhdpi.png" gap:density="xxhdpi" />
   		</platform>
   		<gap:splash src="res/screens/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="res/screens/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="res/screens/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="res/screens/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
		<access origin="*" />
	</widget>